body {
  background-color: gainsboro;
  /* Use a system font, if none are available use an available sans-sarif */
  font-family: system-ui, sans-serif;

}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  /* max-width: 50%; */
  margin: auto;
  gap: 7px;
}



.HowToPlay {
  display: none;
  background-color: slategray;
  margin: 0 auto;
  width: 50%;
}
 

/* .HowToPlay:hover {
  display:block;
  background-color: slategray;
  margin: 0 auto;
  width: 50%;
} */


span {
  display: flex;
  justify-content: end;
  margin-right: 17px;
  font-size: x-large;
}

p {
  margin-left: 14px;
}


h1 {
  text-align: center;
}


h2 {
  color: red;
  
  text-align: center;
}


.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
  /* margin: 2px; */
  /* border-radius: 10%; */
}

#Reset {

  border-radius: 10%;
  background-color: rgb(21, 115, 255);
  color: azure;
  margin-top: 12px;
  aspect-ratio: 2/1;
  /* border: 3px solid black; */
  font-size: 15px;
  text-align: center;
  /* box-shadow: 2px 11px 12px rgba(0, 0, 0, 0.4); */
  
}

#ResetDiv {
  display: flex;
  justify-content: center;
}

.SetX {
  background-color: rgb(228, 56, 56);
  border-radius: 10px;
  height: 30px;
  width: 11%;
  font-size: 15px;
  text-align: center;
  box-shadow: 2px 11px 12px rgba(0, 0, 0, 0.4);
  margin-left: 34%;
  
}

.SetO {
  background-color: rgb(228, 56, 56);
  border-radius: 10px;
  height: 30px;
  width: 11%;
  font-size: 15px;
  text-align: center;
  box-shadow: 2px 11px 12px rgba(0, 0, 0, 0.4);
  margin-left: 10%;
}

.hidden {
  /* visibility: hidden; */
  cursor: not-allowed;
  background-color: dimgrey;
  color: linen;
  opacity: 1;
  
}



