body {
  background-color: gainsboro;
  /* Use a system font, if none are available use an available sans-sarif */
  font-family: system-ui, sans-serif;
  margin: 0;

}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  /* max-width: 50%; */
  margin: auto;
}

h1 {
  text-align: center;
}

h2 {
  color: red;
  
  text-align: center;
}


.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
  margin: 2px;
  border-radius: 10%;
}

#Reset {
  border-radius: 10%;
  background-color: rgb(21, 115, 255);
  color: azure;
  
  /* width: 30%; */
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 15px;
  text-align: center;
  margin-left: 46%;
  box-shadow: 2px 11px 12px rgba(0, 0, 0, 0.4);
  /* margin: 0 auto; */
}

.Set {
   border-radius: 10%;
  background-color: rgb(21, 115, 255);
  color: azure;
  
  /* width: 30%; */
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 15px;
  text-align: center;
  margin-left: 46%;
  box-shadow: 2px 11px 12px rgba(0, 0, 0, 0.4);
  /* margin: 0 auto; */
}

.hidden {
  /* visibility: hidden; */
  cursor: not-allowed;
    background-color: dimgrey;
  color: linen;
  opacity: 1;
}