body {
  background-color: gainsboro;
  /* Use a system font, if none are available use an available sans-sarif */
  font-family: system-ui, sans-serif;

}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  /* max-width: 50%; */
  margin: auto;
  gap: 7px;
}

.container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.HowToPlay {
  display: none;
  justify-items: center;
  align-self: center;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  margin: auto;
  margin-top: 10%;
  width: 50%;
  text-align: center;
  border-radius: 10px;
}
 
img {
  margin-bottom: 50px;
  width: 320px;
  
}
.HowToPlayBtn {
display: flex;
justify-content: center;
margin-bottom: 10px;


}

#HTPbtn{
  background-color: gainsboro;
  border: 3px solid black;
  border-radius: 8px;
  cursor: pointer;
}


#HTPbtn:hover {
  display:block;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  
}


span{
  float: right;
  margin-right: 17px;
  font-size: x-large;
  cursor: pointer;
  max-width: 10px;
}



span:hover {
  color: rgb(255, 27, 27);
}

p {
  /* height: 200px; */
  margin-left: 14px;
}

.winPopX {
  display: none;
  justify-items: center;
  align-self: center;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  border-radius: 10px;
}

.winPopO {
  display: none;
  justify-items: center;
  align-self: center;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  border-radius: 10px;
}

.winPopCPU {
  display: none;
  justify-items: center;
  align-self: center;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  border-radius: 10px;
}

.PopTie {
  display: none;
  justify-items: center;
  align-self: center;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  border-radius: 10px;
}

h1 {
  text-align: center;
}


h2 {
  color: red;
  
  text-align: center;
}


.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
  /* margin: 2px; */
  /* border-radius: 10%; */
}

#Reset {
  border: 3px solid black;
  border-radius: 10%;
  background-color: gainsboro;
  color: black;
  margin-top: 12px;
  aspect-ratio: 2/1;
  /* border: 3px solid black; */
  font-size: 15px;
  text-align: center;
  /* box-shadow: 2px 11px 12px rgba(0, 0, 0, 0.4); */
  cursor: pointer;
}


#Reset:hover {
  display:block;
  background-color: rgb(255, 255, 255);
  
}



#ResetDiv {
  display: flex;
  justify-content: center;
}

.SetPlayer {
  background-color: gainsboro;
  border: 3px solid black;
  border-radius: 10px;
  height: 30px;
  width: 11.5%;
  font-size: 15px;
  text-align: center;
  box-shadow: 2px 11px 12px rgba(0, 0, 0, 0.4);
  
  cursor: pointer;
}


.SetPlayer:hover {
  /* display:block; */
  background-color: rgb(255, 255, 255);
}


/* .SetO {
  background-color: rgb(228, 56, 56);
  border-radius: 10px;
  height: 30px;
  width: 11%;
  font-size: 15px;
  text-align: center;
  box-shadow: 2px 11px 12px rgba(0, 0, 0, 0.4);
  margin-left: 10%;
} */

#xo-buttons {
  display: flex;
  justify-content: center;
  gap: 140px;
}


.CPU {
  background-color: gainsboro;
  border: 3px solid black;
  border-radius: 10px;
  height: 30px;
  width: 11.5%;
  font-size: 15px;
  text-align: center;
  box-shadow: 2px 11px 12px rgba(0, 0, 0, 0.4);
  
  cursor: pointer;
}

.CPU:hover {
  /* display:block; */
  background-color: rgb(255, 255, 255);
}


.hidden {
  /* visibility: hidden; */
  cursor: not-allowed;
  background-color: dimgrey;
  color: black;
  opacity: 1;
  
}



